.navbar-container {
    background-color: rgba(19, 17, 17, 0.932);
    height: "100%";
    width: "100%";
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 70px;
    margin-left: 15px;
    margin-top: 5px;
}

.navbar-logo-img {
    height: 65px;
    object-fit: cover;
    align-self: center;
}

.navbar-links {
    display: flex;
    text-align: right;
    margin-right: 8%;
}

.navbar-link {
    margin-right: 30%;
}